<launch>

  <param name="nao_ip" type="string" value="$(optenv NAO_IP 127.0.0.1)" />
  <!-- Launch Face Detection node -->
  <include file="$(find social_interaction_robot)/launch/face_detection.launch"/>
  <!-- Launch TTS node -->
  <include file="$(find social_interaction_robot)/launch/tts.launch"/>
  <!-- Launch Cognition Controller -->
  <node pkg="social_interaction_robot" type="cognition_controller.py" name="cognition_controller" output="screen"/>
</launch>
